* {
    margin: 0;
    padding: 0;
  }
  #board {
    display: grid;
    height: 95vw;
    width: 95vw;
    grid-template-columns: 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw 9.5vw;
    position: relative;
  }
  #dice {
    margin-top: 1vw;
    height: 25vw;
    width: 25vw;
    border: 2px solid;
  }
  #roll {
    height: 15vw;
    width: 30vw;
    background-color: green;
    border: 3px solid;
  }
  .diceimg {
    height: 25vw;
    width: 25vw;
  }
  #roll {
    height: 12vw;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
  }
  #info {
    font-family: "Righteous", cursive;
    margin-top: 1vw;
    height: 15vw;
    width: 90vw;
    padding: 1vw;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border: 2px solid;
    overflow: scroll;
    color: white;
  }
  #reset {
    margin-top: 1vw;
    height: 5vh;
    width: 25vw;
    font-size: large;
    font-weight: bold;
    background-color: rgb(5, 86, 235);
    color: white;
  }
  #reset2 {
    margin-top: 5vh;
    height: 5vh;
    width: 25vw;
    font-size: large;
    font-weight: bold;
    background-color:darkmagenta;
    color: white;
  }
  #snake1 {
    position: absolute;
    height: 21%;
    width: 30%;
    top: 55%;
    left: 49%;
    transform: rotate(-26deg);
  }
  #snake2 {
    position: absolute;
    height: 35%;
    width: 12%;
    top: 62%;
    left: 47%;
    transform: rotate(-26deg);
  }
  #snake3 {
    position: absolute;
    height: 46%;
    width: 31%;
    top: 35%;
    left: 7%;
    transform: rotate(21deg);
  }
  #snake4 {
    position: absolute;
    height: 29%;
    width: 24%;
    top: 61%;
    left: 75%;
    transform: rotate(32deg);
  }
  #snake5 {
    position: absolute;
    height: 25%;
    width: 46%;
    top: 12%;
    left: 30%;
    transform: rotate(-48deg);
  }
  #snake6 {
    position: absolute;
    height: 26%;
    width: 8%;
    top: 2%;
    left: 28%;
    transform: rotate(23deg);
  }
  #snake7 {
    position: absolute;
    height: 29%;
    width: 24%;
    top: 15%;
    left: 64%;
    transform: rotate(68deg);
  }
  .snake {
    z-index: 1;
  }
  #ladder1 {
    position: absolute;
    height: 21%;
    width: 11%;
    top: 5%;
    left: 5%;
    transform: rotate(191deg);
    opacity: 0.6;
  }
  #ladder2 {
    position: absolute;
    height: 23%;
    width: 12%;
    top: 3%;
    left: 86%;
    transform: rotate(-47deg);
    opacity: 0.6;
  }
  #ladder3 {
    position: absolute;
    height: 59%;
    width: 22%;
    top: 21%;
    left: 49%;
    transform: rotate(-44deg);
    opacity: 0.5;
  }
  #ladder4 {
    position: absolute;
    height: 21%;
    width: 10%;
    top: 54%;
    left: 5%;
    transform: rotate(12deg);
    opacity: 0.6;
  }
  #ladder5 {
    position: absolute;
    height: 26%;
    width: 10%;
    top: 71%;
    left: 80%;
    transform: rotate(205deg);
    opacity: 0.6;
  }
  #ladder6 {
    position: absolute;
    height: 35%;
    width: 16%;
    top: 27%;
    left: 73%;
    transform: rotate(-70deg);
    opacity: 0.5;
  }
  #ladder7 {
    position: absolute;
    height: 64%;
    width: 20%;
    top: 4%;
    left: 25%;
    transform: rotate(187deg);
    opacity: 0.5;
  }
  #btn1 {
    font-family: "Monoton", cursive;
    font-size: xx-large;
    height: 25vw;
    width: 90vw;
    color: blue;
    background-color: aquamarine;
    border: 2px solid darkblue;
  }
  #btn2 {
    font-family: "Monoton", cursive;
    font-size: xx-large;
    height: 25vw;
    width: 90vw;
    color: blue;
    background-color: aquamarine;
    border: 2px solid darkblue;
  }
  #btn3 {
    font-family: "Monoton", cursive;
    font-size: xx-large;
    height: 25vw;
    width: 90vw;
    color: blue;
    background-color: aquamarine;
    border: 2px solid darkblue;
  }
  #btn1:hover,
  #btn2:hover,
  #btn3:hover {
    background-color: aqua;
  }
  
  #game-container {
      display: none;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
  #ind {
    color: blueviolet;
    font-family: "Righteous", cursive;
    font-size: x-large;
    display: flex;
    position: absolute;
    height: 88vh;
    width: 100vw;
    background-color: deepskyblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #nav {
    font-family: "Tourney", cursive;
    background-color: rgb(180, 104, 250);
    height: 10vh;
    width: 99vw;
    margin-bottom: 1vh;
    padding-left: 1vw;
    padding-top: 1vh;
    z-index: 2;
  }
  .name {
      display: none;
      height: 88vh;
      width: 100vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: deepskyblue;
  }
  input {
    height: 10vh;
    width: 70vw;
    padding-left: 1vw;
    margin-bottom: 3vh;
    font-size: x-large;
    font-weight: bold;
  }
  #play1 {
    height: 10vh;
    width: 70vw;
    font-size: xx-large;
    background-color: blue;
    color: white;
  }
  #play2 {
    height: 10vh;
    width: 70vw;
    font-size: large;
    background-color: blue;
    color: white;
  }
  #play3 {
    height: 10vh;
    width: 70vw;
    font-size: large;
    background-color: blue;
    color: white;
  }
  
  #leaderboard {
      font-family: "Righteous", cursive;
      display: none;
      height: 88vh;
      width: 100vw;
      color: rgb(64, 3, 143);
      font-size: x-large;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
      background-image: url(l.gif);
      background-size: cover;
    }
   